.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .chat,
.home .rooms {
    background-color: var(--gray-200);
    box-shadow: var(--shadow);
    border-radius: 1rem 0 0 1rem;
    justify-content: center;
    max-height: 50vh;
    list-style: none;
    overflow: auto;
}

.home .rooms ul {
    list-style: none;
}

.home .rooms ul li {
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem;
}

.home .rooms ul li.selected {
    background-color: var(--teal);
}

.home .rooms ul li:hover {
    background-color: var(--info);
}

.home .chat {
    align-items: unset;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
}

.home .row {
    display: flex;
    flex-wrap: wrap;
}

.home .chat > .row {
    width: 100%;
}

.home .chat .messages-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.home .column {
    align-items: center;
    display: flex;
    margin: .5rem;
    min-width: 150px;
    padding: .5rem;
}

.home .messages {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home .messages .messages-date {
    display: flex;
    justify-content: flex-end;
}

.home .messages .messages-text {
    display: flex;
    align-items: center;
}

.home .messages .messages-user {
    border-radius: 1rem;
    background-color: var(--gray-400);
    padding: .2rem;
    margin: .3rem;
}

